@font-face {
  font-family: 'Copernicus Book';
  src: url(fonts/Copernicus-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Copernicus Bold';
  src: url(fonts/Copernicus-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Copernicus Book';
  src: url(fonts/Copernicus-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Copernicus Book Italic';
  src: url(fonts/Copernicus-BookItalic.otf) format('opentype');
}

@font-face {
  font-family: 'Copernicus Bold';
  src: url(fonts/Copernicus-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cosmica Bold';
  src: url(fonts/Cosmica-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Cosmica Book';
  src: url(fonts/Cosmica-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Cosmica Medium';
  src: url(fonts/Cosmica-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Cosmica Regular';
  src: url('assets/fonts/Cosmica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica Italic';
  src: url('assets/fonts/Cosmica-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica Thin';  
  src: url('assets/fonts/Cosmica-Thin.ttf') format('truetype');
  font-weight: thin;
}

p {
  font-family: 'Copernicus Book', serif;
}

b {
  font-family: 'Cosmica Medium', sans-serif;  
  font-size: 17px;
}

h1 {
  font-family: 'Cosmica Book', sans-serif;
  font-size: 140px;
  margin-top: 300px;
  margin-bottom: 0px;
  line-height: 102%;
}

h2 {
  font-family: 'Cosmica Regular', sans-serif;
  font-size: 64px;
  line-height: 1.2;
  margin-top: 80px;

 
}

h3 {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 24px;
  line-height: 1;
  margin-top: 40px;

}

.sub-author {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 17px;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author-designer{
  margin-top: 10px;
  margin-bottom: 20px;
}


a {
  font-family: 'Cosmica Medium', sans-serif;
  color: red;
  font-size: 17px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.dark-mode .essay-container, body.dark-mode .ui-buttons {
  background-color: #090909;
  color: #fff;
}
body.dark-mode .text-controls label,
body.dark-mode .text-controls,
body.dark-mode .sub-author,
body.dark-mode .caption,
body.dark-mode .block-quote {
  color: white;
}
body.dark-mode .graph-reference{
  background-color: #171717;
}

.fullscreen-icon.dark-mode {
  filter: invert(100%);
}

/* Bottom logarithmic scales */
.log-scale {
  visibility: hidden;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
}

.log-scale-left {
  left: 50%;
  transform: translateX(-100%);
  justify-content: flex-end;
  width: 50vw;
  visibility: hidden;
}

.log-scale-right {
  right: 50%;
  transform: translateX(100%);
  justify-content: flex-start;
  width: 50vw;
}

/* Labels for the logarithmic scale */
.log-label {
  font-size: 12px;
  color: #000;
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
}



.controls-container label {
  margin-right: 10px;
}


.footnote{
  cursor:pointer;
  position: relative; /* Position relative to the footnote */
  display: inline-block; /* Inline-block to allow tooltip positioning */
  font-size: 10px;
  transform: translate(0, -7px);
}

/* Style for the footnote tooltip */

.footnote-tooltip {
  position: absolute;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: 'Cosmica Book', sans-serif;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9em;
  max-width: 300px;
  z-index: 1000;
  display: none; /* Hidden by default */
  pointer-events: none; /* Prevent mouse events from interfering with hover */

}



.footnote:hover + .footnote-tooltip {
  display: block; /* Show tooltip on hover */
}

/* Tooltip */
.tooltip {
  font-size: 14px;
  font-family: 'Cosmica Book', sans-serif;
  position: absolute;
  background-color: #f3f3f2;
  color: black;
  padding: 5px;
  border-radius: 10px; /* Add rounded corners */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  max-width: 350px; /* Set a maximum width */
  word-wrap: break-word; /* Ensure text wraps within the max width */
  z-index: 10;
}
.bold {
  font-family: 'Cosmica Bold';
}
.underline {
  text-decoration: underline;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Container uses flex to split the screen */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
    align-items: stretch; /* Ensure children fill height */

}
.controls-container {
  font-family: 'Cosmica Regular', sans-serif;
}

.scene-container {
  width: 50%;
  position: relative;
  background: #ccc;
  height: 100%;
}


#threejs-container {
  position: absolute; /* Make this a positioning context for the canvas */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.opening-title{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;

}
/* Essay container on the right side */
.essay-container {
  width: 50%;
  overflow-y: auto;
  height: 100vh;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 80px; /* Add right padding */

  box-sizing: border-box;
  background-color: white;
  z-index: 10;
  transition: width 2s;
}

.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}



/* When in full-screen mode, hide the essay-container and let scene-container expand */
.fullscreen .essay-container {
  display: none;
}

.fullscreen .scene-container {
  width: 100%;
}

.fullscreen canvas {
  width: 100vw;
  height: 100vh;
  left: 0;
}

.essay-content p {
  margin-bottom: 1em;
  cursor: pointer; /* Indicates that the text is interactive */
}



.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Fullscreen icon */
.fullscreen-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 100;
}

/* Style the UI buttons container */
.ui-buttons {
  display: flex;
      position: fixed;
      bottom: 15px;
      left: .75rem;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      height: 45px;
      z-index: 1000;
      background: #f5f5f5; 
      font-size: 14px;
}

.ui-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons */
  flex-direction: row;
}

/* Style the toggle-controls image */
#toggle-controls {
  height: 100%; /* Adjust to match your desired size */
 
  cursor: pointer;
}



/* Style the controls container */
.controls-container {
  display: none;
  align-items: center;
  gap: 20px; /* Space between controls */
  margin-left: 30px;
}


.text-controls{
  max-width: 95px;
  min-width: 60px;
  width: 35%;
  display: inline-flex;
}

/* Style individual controls */
.controls-container div {
  display: inlinne-flex;
  align-items: center;
}



.controls-container input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

.controls-container input[type="checkbox"] {
    margin-right: 5px;
}

/* Style the slider track */
/* Style the slider track */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%; /* Full width */
  height: 8px; /* Track height */
  background: #d3d3d3; /* Light grey track */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Slight transparency */
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Style the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #000; /* Black thumb */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer; /* Pointer cursor */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000; /* Black thumb */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #000; /* Black thumb */
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

.image-caption {
  width: 100%;
  display: flex;
    
      justify-content: flex-end;
      align-items: end;
    margin: auto;}


.image-caption img {
  display: block;      /* make the img a block so auto‑margins work */
  width: 55%;          /* or whatever % you like */
  margin: 0 auto;      /* centers the block within its container */
}

.caption {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  color: #333;
  margin-left: 20px;
  width: 50%  ;
  padding-right: 100px;
  padding-bottom: 0px;
  border-top: 1px solid #717171;  /* or whatever color/weight you like */
  padding-top: 8px;            /* so your text isn’t jammed against the line */
}

.section-marker{
  text-align: center;
}

.name-highlight {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 17px;
  color: red;
}

.name-highlight-cosmic {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 17px;
  color: #176292;
}

.foot-notes {
  /* split into two columns */
  column-count: 2;
  /* gap between the columns */
  column-gap: 32px;
  margin-bottom: 100px;

}

.foot-notes p {
  /* your existing font rules… */
  font-family: 'Cosmica Book', sans-serif !important;
  font-size:   16px               !important;
  /* add a top margin on every paragraph */
  margin-top: 1em;
}

.foot-notes p:first-child {
  /* except the very first one in the container */
  margin-top: 0;
}

.block-quote{
  font-family: 'Copernicus Medium', serif;
  font-size: 14px;
  line-height: 22px;
  margin-block-end: 1em;
  border-left: 1px solid #717171; 
  padding-left: 15px;
  padding-right: 125px;
  color: #171717;
}

.graph-reference{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Cosmica Book', sans-serif;
  margin-bottom: 20px;
}

.graph-reference p {
  font-family: 'Cosmica Book', sans-serif;
  font-size: 17px;
  line-height: 24px;
  
}

.italic-text {
  font-family: 'Copernicus Book Italic', serif;
  
} 

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #555; /* Set to grey */
}

input:checked + .slider:before {
  transform: translateX(25px);
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }
  h1{
    font-size: 4rem;
    color: red;
  }
  .scene-container {
    width: 100vw;
    height: 100dvh;
    display: none;
  }

  .essay-container {
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }
  body, html {
    overflow-x: hidden;
    width: 100vw;
    height: 100dvh;
  }

  body.view-3d .scene-container {
    display: block;
  }

  body.view-3d .essay-container {
    display: none;
  }

  .fullscreen .essay-container {
    display: none !important;
  }

  .fullscreen .scene-container {
    display: block !important;
  }

}