
@font-face {
  font-family: 'Copernicus Book';
  src: url(fonts/Copernicus-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Copernicus Bold';
  src: url(fonts/Copernicus-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Copernicus Book';
  src: url(fonts/Copernicus-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Copernicus Bold';
  src: url(fonts/Copernicus-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cosmica Bold';
  src: url(fonts/Cosmica-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Cosmica Book';
  src: url(fonts/Cosmica-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Cosmica Medium';
  src: url(fonts/Cosmica-Medium.otf) format('opentype');
}
p {
  font-family: 'Copernicus Book', serif;
}

h1 {
  font-family: 'Cosmica Book', sans-serif;
  font-size: 140px;
  margin-top: 300px;
  margin-bottom: 0px;
  line-height: 102%;
}

h2 {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 24px;
 
}

h3 {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 24px;


}

.sub-author {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: 17px;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  font-family: 'Cosmica Medium', sans-serif;
  color: red;
  font-size: 17px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.dark-mode .essay-container {
  background-color: #090909;
  color: #fff;
}

.fullscreen-icon.dark-mode {
  filter: invert(100%);
}

/* Bottom logarithmic scales */
.log-scale {
  visibility: hidden;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
}

.log-scale-left {
  left: 50%;
  transform: translateX(-100%);
  justify-content: flex-end;
  width: 50vw;
  visibility: hidden;
}

.log-scale-right {
  right: 50%;
  transform: translateX(100%);
  justify-content: flex-start;
  width: 50vw;
}

/* Labels for the logarithmic scale */
.log-label {
  font-size: 12px;
  color: #000;
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
}

/* Slider and checkbox container */
.controls-container {
  display: none;

  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls-container label {
  margin-right: 10px;
}

/* Tooltip */
.tooltip {
  font-size: 14px;
  font-family: 'Cosmica Book', sans-serif;
  position: absolute;
  background-color: #f3f3f2;
  color: black;
  padding: 5px;
  border-radius: 10px; /* Add rounded corners */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  max-width: 350px; /* Set a maximum width */
  word-wrap: break-word; /* Ensure text wraps within the max width */
  z-index: 10;
}
.bold {
  font-family: 'Cosmica Bold';
}
.underline {
  text-decoration: underline;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Container uses flex to split the screen */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
    align-items: stretch; /* Ensure children fill height */

}

.scene-container {
  width: 50%;
  position: relative;
  background: #ccc;
  height: 100%;
}


#threejs-container {
  position: absolute; /* Make this a positioning context for the canvas */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.opening-title{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;

}
/* Essay container on the right side */
.essay-container {
  width: 50%;
  overflow-y: auto;
  height: 100vh;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 80px; /* Add right padding */

  box-sizing: border-box;
  background-color: white;
  z-index: 10;
  transition: width 2s;
}

.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}



/* When in full-screen mode, hide the essay-container and let scene-container expand */
.fullscreen .essay-container {
  display: none;
}

.fullscreen .scene-container {
  width: 100%;
}

.fullscreen canvas {
  width: 100vw;
  height: 100vh;
  left: 0;
}

.essay-content p {
  margin-bottom: 1em;
  cursor: pointer; /* Indicates that the text is interactive */
}



.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Fullscreen icon */
.fullscreen-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 100;
}

#toggle-controls {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  cursor: pointer;
  z-index: 1000; /* Ensure it is on top of other elements */
}


.controls-container {
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls-container label {
    margin: 5px 0;
}

.controls-container input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

.controls-container input[type="checkbox"] {
    margin-right: 5px;
}

.controls-container button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.controls-container button:hover {
    background-color: #0056b3;
}

.image-caption {
  width: 60%;
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    margin: auto;}


.image-caption img {
  display: block;      /* make the img a block so auto‑margins work */
  width: 100%;          /* or whatever % you like */
  margin: 0 auto;      /* centers the block within its container */
}

.caption {
  font-family: 'Copernicus Book', serif;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.section-marker{
  text-align: center;
}

.name-highlight {
  font-family: 'Cosmica Medium', sans-serif;
  font-size: calc(1em + 1pt);
  color: red;
}